:root {

}
body {
    margin: 0;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.content {
    height: inherit;
    display: grid;
    grid-template: 1fr 10fr / 1fr 5fr;
}
.sidebar {
    grid-row: 1 / 3;
    color: #ffffff;
    background-color: #1992d4;
}
.sidebar .icon {
    filter: invert(100%)
}
.sidebar .title {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    gap: 15px;
}
.sidebar ul {
    list-style: none;
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    gap: 15px;
    padding: 20px;
    font-weight: 600;
}
.sidebar ul li {
    font-size: 1.1rem;
}
.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template: 1fr 1.5fr / 2fr 1fr;
}