:root {
    --light-background: #e2e8f0;
    --cool-blue: #1992d4;
}
body {
    margin: 0;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.profile-picture {
    border-radius: 100px;
    border: 1px solid black;
}
.content {
    height: inherit;
    display: grid;
    grid-template: 1fr 10fr / 1fr 5fr;
}
.sidebar {
    grid-row: 1 / 3;
    color: #ffffff;
    background-color: var(--cool-blue);
}
.sidebar .icon {
    filter: invert(100%)
}
.sidebar .title {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    gap: 15px;
}
.sidebar ul {
    list-style: none;
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    gap: 15px;
    padding: 20px;
    font-weight: 600;
}
.sidebar ul li {
    font-size: 1.1rem;
}
.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template: 1fr 1.5fr / 2fr 1fr;
    padding: 10px 30px;
    column-gap: 10px;
    row-gap: 20px;
    box-shadow: 1px 3px 3px #c8ced5;
    position: relative;
}
.search,
.account,
.greeting,
.post {
    display: grid;
    align-items: center;
    gap: 20px;
    grid-auto-flow: column;
}
.header .search {
    grid-template-columns: 25px 1fr;
}
.header .search input{
    /* width: 80%; */
    height: 25px;;
    border: none;
    border-radius: 20px;
    background-color: var(--light-background);
}
.header .account {
    justify-content: end;
}
.header .greeting {
    grid-template: 30px 30px / 60px 300px 1fr;
    column-gap: 15px;
    row-gap: 0px;
}
.greeting h2,
.greeting p {
    margin: 0;
}
.greeting h2 {
    font-size: 1.5rem;
}
.greeting p {
    font-size: .7rem;
    font-weight: 800;
    align-self: end;
}
.greeting img {
    grid-row: 1 / 3;
}
.post {
    gap: 50px;
}
.post button {
    height: 30px;
    color: white;
    background-color: var(--cool-blue);
    border: none;
    border-radius: 30px;
    font-weight: 800;
    font-weight: 1.5rem;
}
.main {
    background-color: var(--light-background);
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
}
.projects {
    grid-row: 1 / 3;
}